{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<dic class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="background: #7700FF">
            <div class="row">
                <div class="col-3">
                    <img src="https://w7.pngwing.com/pngs/380/953/png-transparent-computer-icons-shopping-happiness-customer-miscellaneous-hand-logo.png"
                         alt="Иконка" style="width: auto; height: 50px">
                </div>
                <div class="col-9">
                    <h2>Меню</h2>
                </div>
            </div>
            <row>
                <li>
                    <ul><a href="about/">О нас</a></ul>
                    <ul><a href="contacts/">Контакты</a></ul>
                </li>
            </row>
        </div>
        <div class="col-md-9">
            <div class="container">
                <h1>Основная часть</h1>
            </div>
        </div>
    </div>
</dic>